<h1 id="tableLabel">Personer</h1>

<p>This component demonstrates fetching data from the server.</p>
<a class="" [routerLink]="['/addPerson']">Legg til person</a>
<p *ngIf="!personer"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="personer">
  <thead>
    <tr>
      <th>Navn</th>
      <th>Kallenavn</th>
      <th>Er død</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of personer">
      <td>{{ person.navn }}</td>
      <td>{{ person.kallenavn }}</td>
      <td>{{ person.erDod }}</td>
      <td *ngIf="!person.erDod"><button [routerLink]="['/addDodsfall']">Registrer dødsfall</button></td>
    </tr>
  </tbody>
</table>
